.image1{
    display:flex;
    width: 100%;
    height: 300px;
}
.image1 img{
    max-width:100% ;
}

.details, .Next{
    display: flex;
    justify-content: space-between;
    margin-top:80px ;
    background-color: #fff;
      font-family: "open sans";
    
}
.page-1{
    flex: 40%;
   margin-right: 20px;
}
.page-1 p, .page-1 h2 ,.page-1 a , Button, .p-list p, .p-list h2{
    margin-top:20px;
}

.page-2{
    flex:60%;
    margin-left:20px ;
}
.page-2 p, .page-2 h2, .page-2 h3{
    margin-bottom: 20px;
}
.details img{
    height: 400px;
    width:100% ;

}
.bookmark-2{
    color: rgb(29, 179, 102);
    font-weight: 700;
}
.next-me{
    display: flex;
    align-items: baseline;
 justify-content: space-evenly;
    

}
.next-me:hover{
    cursor: pointer;
}
.next-1, .next-2{
    align-self: center;
}
.next-1{
    font-size: 50px;
}
.p-list{
    display:flex;
    justify-content: space-between;
    height: 400px;
    margin:0 40px ;

}
.p-list img{
    width: 100%;
    height: 100%;
}
.p-list-1,.p-list-2, .p-list-1-o{
    width: 45%;
    margin-top: 50px ;
    
}
.p-list-1-o{
    order: 2;
}
.p-list-1-o, .p-list-1{
    border-top: 3px solid rgb(86, 148, 88)  ;
}
#con{
    font-family: "open sans";
}