 body {
  font-size: 18px;
  font-family: 'EB Garamond', serif;
  margin: 0;
  background-color: rgba(252, 255, 253, 0.871);

}

* {
  box-sizing: border-box;
  margin: 0;
}
h1,h2,h3,h4,h5,h6{
   font-family: 'EB Garamond', serif;
}

.App{
  margin: 5px 50px;
}
.btn{
  padding: 7px 10px ;
  cursor: pointer;
}
.head-icon,.footer-icon{
  font-size: 60px;

}
.footer-icon{
color: #fff;
}
.light{
  background-color: #fff;
  border-top: 1px solid white;
}

.dark:hover{
  background-color: #fff;
  border-top: 1px solid white;
  color: black;
}
.dark,.light:hover, #about p{
  background-color: rgb(31, 26, 36);
  border: 1px solid #fff;
  color: #fff;
}
.dark .in{
  color: gray;
  background-color: rgb(4, 4, 31);
  margin: 5px;
  vertical-align: middle;
  width: 10px;
}
.desktop-container{
  display: flex;
  height: 100px;
  align-items: center ;
  
}
.desktop-container .first{
  flex: 20%;
}
.desktop-container .second{
  flex: 80%;
}

.nav-link{
   padding-left:40px;
   float: right;
color:rgb(111, 106, 106);
font-weight:500;
text-decoration: none;
font-family: "EB Garamond";
}
.nav-link:hover {
text-decoration: underline;
color: rgb(148, 221, 89);
}
.nav-link:active {
  color: rgb(148, 221, 89);
}
#about{
  display: flex;
  justify-content: space-around;
  margin-top:40px ;
  background-color: black;
  
  
}
#about .flex{
  flex-basis :500px;
}
#about h3,#about p{
  margin-bottom: 20px;
  font-family: "EB Garamond";
  line-height: 1.8;
}
#about h3{
  color: rgb(13, 237, 69);
  font-size: 45px;
}
#question{
  justify-content: space-evenly;
  display: flex;
  margin-top:40px ;
  align-items: baseline;
  

}
.rule{
  border-bottom: 2px solid black;
  flex:40%;
  margin-right:  2em;
  align-self: center;
}
.question{
  font-weight: 900;
  font-size: 40px;
  flex :30%;
  color: black;
  margin: 0;
}
.bt{
  font-weight: 900;
align-self: center;
margin: 0;

  
}
.bt Button{
  float: right;
  padding:10px 20px;
}
#footer{
  background-color: black ;
  display: flex;
  color: #fff;
  margin: 5px 50px;
  align-items: center;

}
.first,.second,.third{
  flex: 31%;

}
footer{
  margin-top: 40px;
  background-color: black ;
}
.first a{
  text-decoration: none;
  font-size: 16px;
  color: rgb(13, 237, 69);
  padding-left: 6px;
}
.first a:hover{
  color: #fff;
  border-bottom: 4px solid rgb(13, 237, 69)
}
footer .second a{
  padding: 10px;
  color: #fff;
  font-size: 20px;
}
footer 
.second a:hover{
  color: rgb(13, 237, 69);
  font-size: 30px;
}
.third{
  color: rgb(13, 237, 69);

}
/* td {
  font-size: 15px;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: hsl(257, 7%, 63%);
}
.contact table {
  margin: 0;
}
input  {
  width: 70%;
  padding: 10px;
  margin: 15px;
}
textarea{
width:93%;
}
input,textarea{
  font-size:17px;
  font-weight:700;
  color:hsl(260, 8%, 7%);
}
.footerStyle tr {
  margin: 100px;
}
.hide {
  display: none;
}
.see {
  display: block;
}
.row::after {
  content: "";
  clear: both;
  display: block;
}
[class*="col-"] {
  float: left;
  padding: 15px;
}
.col-10 {
  width: 20%;
}
.col-9 {
  width: 80%;
}
.col-11 {
  width: 70%;
}
.col-8 {
  width: 40%;
}
label,
.col-7 {
  width: 27%;
}
.col-2{
width:33.3%;
}
.col-6 {
  width: 60%;
}

.abs {
  position: absolute;
  top: 80px;
}

.head-icon {
  height: 70px;
  width: 70px;
}
.icon-menu {
  height: 50px;
  width: 50px;
}
.nav-link {
  color: hsl(257, 7%, 63%);
  padding: 5px;
  text-decoration: none;
  display: inline-flex;
  font-weight: 10;
}
.nav-link:hover {
  color: hsl(260, 8%, 14%);
  text-decoration: underline;
}

.btn {
  padding: 10px 25px;
  color:white;
font-weight: 900;
  background: linear-gradient(
    90deg,
    hsl(4, 5%, 75%) 0%,
    hsl(255, 11%, 22%) 42%,
    hsl(257, 7%, 63%) 99%
  );
  border-radius: 10px;
  border-width: 0;
  font-size:20px;
}

.btn-f:active,
.btn:active {
  position: relative;
  top: 1px;
}
.btn-f {
  box-shadow: 0px 10px -7px #258d91;
  border-radius: 15px;
  cursor: pointer;

  text-align: center;
  text-decoration: none;
  text-shadow: 0px 1px 0px #697c65;
}
.btn-f:hover,
.btn:hover {
  background: linear-gradient(to bottom, #00b8a8 5%, #71b3aa 100%);
  background-color: hsl(180, 66%, 49%);
}
.contact button{
  margin-left:50%;
}
.component-menu {
  height: 30px;
  width: 30px;
  color: hsl(260, 8%, 14%);
}

.heading {
  margin-bottom: 0;
  font-weight: 400;
  color: white;
  text-shadow: 0 0 hsl(0, 0%, 75%), 0 0 5px hsl(0, 0%, 75%),
    0 0 10px hsl(0, 0%, 75%), 0 0 20px hsl(0, 0%, 75%),
    0 0 40px hsl(260, 8%, 14%), 0 0 80px hsl(260, 8%, 14%),
    0 0 90px hsl(260, 8%, 14%), 0 0 100px hsl(260, 8%, 14%),
    0 0 120px hsl(260, 8%, 14%);
  line-height: 1.1;
}
.para {
  color: hsl(180, 66%, 49%);
  text-align: center;
  font-style: bold;
}
.paragraph {
  font-size: 20px;
  color: white;
  font-weight: lighter;
  padding: 10px;
  line-height: 2;
  font-style: italic;
}

.footer {
  background-color: hsl(260, 8%, 14%);
}

.h-p {
  padding-top: 38px;
}

.footerStyle {
  margin-left: 40px;
}

button.btn-f {
  margin: 10px;
}


@media only screen and (max-width: 760px) {
  body {
    margin: 0, 5px;
  }
  .footerStyle,
  .footer > .col-8,
  .footer > .col-6,
  p,
  .col-7,
  .contact  [class*="col-"],
  input,
  textarea,
  .col-2
   {
    width: 100%;
    margin: 0;
    text-align: center;
  }
  .contact .col-10,
  .contact .col-11 {
    padding: 3px;
  }
  input,
  textarea ,label {
    text-align: left;
    margin: 5px;
   
  }

  .paragraph {
    font-size: 15px;
    font-weight: 300;
    padding: 10px;
    line-height: 1.5;
  }
}
.icon-menu {
  width: 30px;
  height: 30px;
}  */
