 body {
  font-size: 16px;
  font-family: 'EB Garamond', serif;
  margin: 0;
  background-color: rgba(251, 253, 253, 0.994);

}

* {
  box-sizing: border-box;
  margin: 0;
}

.img-img{

  width:10rem;
  height: 4rem;
 
 

}
.App{
  margin: 5px 50px;
}
.btn , .back{
  padding: 7px 10px ;
  cursor: pointer;
}
.head-icon,.footer-icon{
  font-size: 60px;

}
.head-icon{
 color: #554f4f
}
.footer-icon{
color: #fff;
}
.light{
  background-color: #fff;
  border-top: 1px solid rgb(185, 187, 185);
}

.dark:hover{
  background-color: #fff;
  border-top: 1px solid white;
  color: #554f4f;
}
.dark,.light:hover{
  background-color: rgb(31, 26, 36);
  border: 1px solid #fff;
  color: #fff;
}
.dark .in{
  color: gray;
  background-color: rgb(4, 4, 31);
  margin: 5px;
  vertical-align: middle;
  width: 10px;
}
.desktop-container{
  display: flex;
  height: 100px;
  align-items: center ;
  background-color: #fff;
  
  
}
.desktop-container .first{
  flex: 20%;
}
.desktop-container .second{
  flex: 80%;
}

.nav-link{
   padding-left:40px;
   float: right;
color:rgb(111, 106, 106);
font-weight:500;
text-decoration: none;
font-family: "EB Garamond";
}
.nav-link:hover {
text-decoration: underline;
color: rgb(148, 221, 89);
}
.nav-link:active {
  color: rgb(148, 221, 89);
}




#about p.an {
  border-right: solid 3px rgba(0,255,0,.75);
  line-height: 2;
  /* font-family: 'Source Code Pro', monospace; */

  margin-bottom: 20px;

}

/* Animation */
#about p.an {
  animation: animated-text 2s steps(30,end) 1s 1 normal both,
             animated-cursor 600ms steps(29,end) infinite;
}

/* text animation */

@keyframes animated-text{
 0%{ width: 0;font-size: 1px;}
 25% {width: 100px;}
 70%{width: 300px;}
 100%{width:auto}
}

/* cursor animations */

@keyframes animated-cursor{
  from{border-right-color: rgba(0,255,0,.75);}
  to{border-right-color: transparent;}
}
#about{
  display: flex;
  justify-content: space-around;
  margin-top:80px ;
  background-color: #fff;
  color: #554f4f;
  
  
  
}
#about .flex {
  flex-basis :500px;
  text-align: center;

 

}
.name{
  font-family: "Lobster", cursive;
  font-weight: 900;
}
.strong{
  color: rgb(86, 148, 88) ;
  font-family: "Lobster", cursive;
  font-weight: 900;


}
.bottom{
  font-family: "Lobster", cursive;
  display: block;
  color: rgb(169, 220, 208);
}

#about h3{
  font-size: 45px;
 color: rgb(86, 148, 88) ;
 margin-bottom: 20px;
 font-family: "Lobster", cursive;
 font-weight: 900;
}
#question{
  justify-content: space-evenly;
  display: flex;
  margin-top:80px ;
  align-items: baseline;
  background-color: #fff;
  

}
.rule{
  border-bottom: 2px solid rgb(86, 148, 88) ;
  flex:40%;
  margin-right:  2em;
  align-self: center;

}
.question{
  font-weight: 900;
  font-size: 40px;
  flex :30%;
  color: #554f4f;
  margin: 0;
}
.bt{
  font-weight: 900;
align-self: center;
margin: 0;

  
}
.bt Button{
  float: right;
  padding:10px 20px;
}
#footer{
  background-color: #3c3838 ;
  display: flex;
  color: #fff;
  margin: 5px 50px;
  align-items: center;

}
.first,.second,.third{
  flex: 31%;

}
footer{
  margin-top: 80px;
  background-color: #554f4f ;
}
.first a, .a{
  text-decoration: none;
  color: #fff;
  padding-left: 6px;
}
.first a:hover, .a:hover{
  color: #fff;
  text-decoration: none;
  border-bottom: 4px dotted rgb(13, 237, 69);
}
footer .second a{
  padding: 0.6em;
  color:   rgb(86, 148, 88) ;
  font-size: 20px;
}
footer 
.second a:hover{
  color: #fff;
  font-size: 30px;
}
.third{
  color: #fff;

}

.contact {
  display: flex;

  
}

/* .row-1,.row-2{
   width: 45%;
} */
.a-details{
  display: flex;
  align-items: baseline;


}
.a-details input ,.a-details textarea{
 width: 65%;
 align-self: center;
}
.a-details label{
  width: 30%;
  align-self: center;
}
.a-details p,.a-details input ,.a-details textarea{
 margin: 15px;
}
.c h1,.c h3{
  margin-bottom: 12px;
}
.a-details input{
  padding: 10px;
}
.para{
  color: rgb(86, 148, 88);;
}
.a-details input ,.a-details textarea{
  border: 1px solid rgb(86, 148, 88) ;
}
.mobile{
  background-color: #3c3838;
  position: relative;
}
.m-c{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
 
  
}
.m-c-1{
  flex: 50%;
}

.m-c-2{
  font-size: 50px;
  color: #fff;
}

.mobile nav{
  display: flex;
  flex-direction: column;
 justify-content: center;
 align-items: center;


  
}
.mobile nav div{
  margin:1.1em 0;

}

section.logo-container{
  display:flex;
  justify-content: space-between;
  
  margin:80px 50px 0;
}
.logo{
  font-size: 5vw;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
  #about,#footer, .contact{
    flex-direction: column;
    flex-wrap: wrap;
  }
.rule{
  display: none;
}
.first,.second,.third{
 margin-top: 40px;

}
#about{
  margin-top: 0;
}
iframe{
  width: 100%;
}
.nv{
  display: block;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}
.third, .second{
  text-align: center;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}